<div class="unknown"></div>
 
 <!---news content--->
 <div class="content-2-bg">
    <div class="news">
     <h1>News and Production</h1>
     <hr class="h">
     <h3>Learn more about us</h3>
    </div>
 
    <div class="news-content">
     <!---news 1 --->
     <div class="content-1">
     <div class="news-content">
         <img src="assets/img/Picture1.jpg" width="200px" >
     </div>
     <div class="textbox">
         <a href="#">Kunjungan Hormat Yang Berusaha Hj. Mohd Nurkhuzaini bin Ab. Rahman ke Tajdid Corp. Sdn Bhd</a>
         <p>by admin | Sep 6, 2023</p>
         <h3>Kuala Terengganu, 4  September 2023 - Yang Berusaha Hj. Mohd Nurkhuzaini bin Ab. Rahman, Exco Ekonomi Digital, Pendapatan 
             Baharu, Perdagangan, Perindustrian dan Teknologi Hijau  telah menjalankan kunjungan hormat ke Tajdid Corporation Sdn Bhd. 
             dan disambut...</h3>
     </div>
     
     
    </div>
  <!---news 2 --->
    <div class="content-1">
     <div class="news-content">
         <img src="assets/img/Picture2.jpg" width="200px">
     </div>
     <div class="textbox">
         <a href="#">Terengganu Hasrat Jadi Model Kerajaan Digital Pintar -MB</a>
         <p>by admin | May 29, 2021 </p>
         <h3>KUALA TERENGGANU, 28 Oktober - Kerajaan negeri berhasrat untuk menjadi kerajaan digital pintar yang praktikal dan mampan 
             menjelang 2030 sebagai persediaan memasuki era Revolusi Industri 4.0 (IR 4.0). Usaha mencapai hasrat tersebut dibuktikan dengan 
             Terengganu...</h3>
     </div>
     
     
    </div>
  <!---news 3 --->
    <div class="content-1">
     <div class="news-content">
         <img src="assets/img/Picture3.jpg" width="200px">
     </div>
     <div class="textbox">
         <a href="#">Terengganu Hasrat Jadi Model Kerajaan Digital Pintar -MB</a>
         <p>by admin | May 29, 2021 </p>
         <h3>KUALA TERENGGANU, 28 Oktober - Kerajaan negeri berhasrat untuk menjadi kerajaan digital pintar yang praktikal dan mampan 
             menjelang 2030 sebagai persediaan memasuki era Revolusi Industri 4.0 (IR 4.0). Usaha mencapai hasrat tersebut dibuktikan dengan 
             Terengganu...</h3>
     </div>
     
     
    </div>
  <!---news 4 --->
  
    <div class="content-1">
     <div class="news-content">
         <img src="assets/img/Picture4.jpg" width="200px">
     </div>
     <div class="textbox">
         <a href="#">Terengganu Hasrat Jadi Model Kerajaan Digital Pintar -MB</a>
         <p>by admin | May 29, 2021 </p>
         <h3>KUALA TERENGGANU, 28 Oktober - Kerajaan negeri berhasrat untuk menjadi kerajaan digital pintar yang praktikal dan mampan 
             menjelang 2030 sebagai persediaan memasuki era Revolusi Industri 4.0 (IR 4.0). Usaha mencapai hasrat tersebut dibuktikan dengan 
             Terengganu...</h3>
     </div>
     
     
    </div>
 
 </div>
 </div>
 
 