
<header class="nav" appScroll>
    
<img src="assets/img/logo-removebg-preview.png" >
<ul>
    <li class="items">
        <a class="nav-link" routerLink='' routerLinkActive="active-link">HOME </a></li>

<li class="items">
    <a class="nav-link" routerLink="service" routerLinkActive="active-link">SERVICES </a></li>
<li class="items">
    <a class="nav-link" routerLink="news" routerLinkActive="active-link">NEWS </a></li>
<li class="items">
    <a class="navlink" routerLink="contact" routerLinkActive="active-link">CONTACT US </a></li>
<li class="items-1">
    <a class="navlink" routerLink="login" routerLinkActive="active-link" ><i class="bi bi-box-arrow-in-right"></i></a></li>
    
    

</ul>

</header>


