

body{
   padding: 0;
}

header {
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    transition: 0.06s;
    padding:10px 100px;
    z-index: 100000;
    background-color:#030303f5;
    transition: 0.4s;
}


header img{
    position: relative;
    width:150px;
    transition: 0.3 ease;
    
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: o 15px;
    text-decoration: none;
    color:#fff;
    letter-spacing: 2px;
    font-weight: 200px;
    transition: 0.6s;
    padding: 0 15px;
}

header ul li a:hover {
    color: #11F779;  
    transition: 0.6s;
    padding: 0 15px;
}

.items-1{
    font-size: 20px;
}

.new-nav{
    background-color: #fff;
    position: fixed;
    top:0;
    color: #000;
    transition: 0.4s;
}


.new-nav ul li a{
    font-size: 15px;
    color: #000;
}

.new-nav img{
    width:90px;
    transition: 0.3s;
}