/*keyframes*/
@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(100px) scale(0.9); 
    }

    100%{
        opacity:1;
        transform: translateY(0px) scale(1);
    }

}

@keyframes slide-in{
    0%{
        opacity: 0;
        transform: translateX(-300px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

}

form{
    max-width: 480px;
    margin:150px auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px rgba(0,0,0,0.15);
    border-radius: 4px;
    animation: fade-up 1s;
}

h1{
    margin-top: 0;
    color: #555;
    padding-bottom: 10px;
    border-bottom:1px solid #ccc;   
}

.form-control{
    margin-bottom: 16px;
    padding: 10px;
    
}

input,label{
        display: block;
    }

    label{
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 4px;
    }

    input{
        padding: 8px;
        height: 35px;
        border-radius: 4px;
        width:100%;
        border: 2px solid #ccc;
        background-color: white;
    }

button{
    background-color: #000;
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    width: 100%;
    font-size: 1.2rem;
}