<script src="https://kit.fontawesome.com/1c9e873df8.js" crossorigin="anonymous"></script>

<div class="banner">

    <div class="bgPosition"></div>
    <div class="textcontainer" >
             <h1> TAJDID CORPORATION <br> SDN BHD </h1> 
            <h2>Together We Make a Difference</h2>
            <div class="btn">
            <a routerLink="contact" >Contact Us</a>
            </div>

        

    </div>
</div>

<!--background-->
<div class="about-us">
    <div class="about-us-content">
        <h4> <span>Terengganu Advanced Joint Digital Intelligent Development (TAJDID)</span> or known as TAJDID Corporation is a fully state-owned company under the Terengganu State 
            Government, operating under Terengganu Menteri Besar Corporation. TAJDID 
            functions as the sole entity to drive economic growth and the development of a digital society based on digital technology and the Fourth Industrial Revolution (4IR)</h4>
    </div>
</div>
<!--what we do-->

<div class="acts" appScroll2>
    <div class="acts-as-container">
    <div class="acts-as-content">
        <div class="title">
            <h1> Tajdid serve as</h1>
        </div>
            
        <div class="item-1">
            <img src="assets/img/icon-6.png" width="100px">
            <h4>Smart Colloboration & Sharing</h4>
            <p>Responsible for the implementation of Terengganu's digitization agenda</p>
            
        </div>

        <div class="item-1">
            <img src="assets/img/icon-7.png" width="90px">
            <h4>Big Data Advisory</h4>
            <p>Responsible for consultation and advice services in the utilization of Big Data Intelligence</p>
            
        </div>

        <div class="item-2">
            <img src="assets/img/icon-8.png" width="100px">
            <h4>Consulting and Advisory Services</h4>
            <p>Responsible for the development of strategic plans and action plans based on digital technology and 4IR</p>
            
        </div>

        <div class="item-3">
            <img src="assets/img/icon-9.png" width="100px">
            <h4>Digital Leadership 
                Development Trainning</h4>
            <p>Responsible for developing business community and society</p>
            
        </div>
    
    </div>
</div>
</div>

<!--mission&vision-->
<div class="mission">
    <div class="mission-content">
        
<div class="row">

    <div class="mission-subcontent-3">
    <img src="assets/img/Picture6.jpg" width="700">
</div>

        <div class="col-md-3">
        <div class="mission-subcontent">
            <div class="mission-subcontent-1">
            <h2>Mission</h2>
            <p>Driving the digital economic growth and digital society of Terengganu through smart digital transformation and innovation.
                </p>
                <hr class="h-2">
            </div>
                <div class="mission-subcontent-1">
                <h2>Vision</h2>
                <p>A leading and pioneering in the digital economic 
                    development and digital society of the state 
                    of Terengganu.
                    </p>
                    <hr class="h-2">
            </div>
           
            </div>
    </div>
    </div>
</div>
</div>

<!--services-->
<div class="content-1-bg">
    <div class="service-bg">
        
    </div>
    <div class="services">
        
        <div class="services-main">
            <h1>Services</h1>
            <hr class="h">
            <h3>Here are the services we are providing to you</h3>
        </div>
        </div>
        
        <div class="row-1">
               <!--one-->
            <div class="col-md-2">
                <div class="stepbox">
                <div class="stepbox-main">
                    <img src="assets/img/icon 1.png" width="80px"></div>
                    <div class="stepbox-sub">
                    <h2> Digital Economy and Society 99.0 </h2>
                   
                </div> 
            </div>
            <hr class="h-1"> 
            </div>

             <!--two-->
             <div class="col-md-2">
                <div class="stepbox">
                <div class="stepbox-main">
                    <img src="assets/img/icon 3.png" width="71px"></div>
                    <div class="stepbox-sub">
                    <h2> Digital Service Development</h2>
                   
                </div> 
            </div>
            <hr class="h-1"> 
            </div>
        
             <!--three-->
             <div class="col-md-2">
                <div class="stepbox">
                <div class="stepbox-main">
                    <img src="assets/img/icon 2.png" width="71px"></div>
                    <div class="stepbox-sub">
                    <h2>  Info Structure and Law </h2>
                    
                </div> 
            </div>
            <hr class="h-1"> 
            </div>
            
            <!--four-->
            <div class="col-md-2">
                <div class="stepbox">
                <div class="stepbox-main">
                    <img src="assets/img/icon 4.png" width="71px"></div>
                    <div class="stepbox-sub">
                    <h2>  Artificial Intelligence Park</h2>
                    
                </div> 
            </div>
            <hr class="h-1"> 
            </div>
              
             <!--five-->
             <div class="col-md-2">
                <div class="stepbox">
                <div class="stepbox-main">
                    <img src="assets/img/icon 5.png" width="71px"></div>
                    <div class="stepbox-sub">
                    <h2>  Islamic Digital Development Academy</h2>
                    
                </div> 
            </div>
            <hr class="h-1"> 
            </div>
        
         </div>
         <div class="button-1">

         <button routerLink="service">Learn More<i class="bi bi-arrow-right"></i></button>
        </div>
       

</div>

